.booking-form {
    background-color: #440F51;
}

.border {
    border: none;
}

.booking-form__hall {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.as-btn {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-radio {
    min-width: 220px;
    padding: 7px 15px;
    border:3px solid #FFFFFF;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.button-radio:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
    box-shadow: 0 4px 4 0 #000000;
}
/* не срабатывает фокус*/
.button-radio:focus {
    background-color: #FFFFFF;
    border: 3px solid #640AA3;
}

.button-radio:active {
    background-color: #6C0287;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
}

.vertical-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-form__game {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
}

.little-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 23px;
}

.form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.booking-form__date-and-time {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
}

.column input {
    height: 74px;
    min-width: 300px;
}

.booking-form__booking-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.booking-form__submit {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    background: #FFFFFF;
    border-radius: 10px;
    min-width: 300px;
    min-height: 60px;
    border: 3px solid #FFFFFF;
    margin-bottom: 80px;
}

.booking-form__submit:hover {
    background-color: #EADEED;
    border: 3px solid #6C0287;
}

.booking-form__submit:focus {
    background-color: #FFFFFF;
    border: 3px solid #6C0287;
}

.booking-form__submit:active {
    background-color: #EADEED;
    border: 3px solid #EADEED;
}

input[type="date"], 
input [type="time"],
input [type="number"] {
    position: relative;
    color: transparent;
}

input[type="date"]::before,
input [type="time"]::before,
input [type="number"]::before {
    content: attr(placeholder);
    position: absolute;
    left: 10px;
    color: #000;
    pointer-events: none;
}

input[type="date"]:valid,
input[type="date"]:focus,
input[type="date"]:active,
input[type="time"]:valid,
input[type="time"]:focus,
input[type="time"]:active, 
input[type="number"]:valid,
input[type="number"]:focus,
input[type="number"]:active {
    color: #000;
}

input[type="date"]:valid::before,
input[type="date"]:focus::before,
input[type="date"]:active::before,
input[type="time"]:valid::before,
input[type="time"]:focus::before,
input[type="time"]:active::before,
input[type="number"]:valid::before,
input[type="number"]:focus::before,
input[type="number"]:active::before {
    display: none;
}

