.booking-form {
    background-color: #440F51;
}

.border {
    border: none;
}

.booking-form__hall {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.as-btn {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-radio {
    min-width: 220px;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.button-radio:hover {
    background-color: #CD06FF;
}

.vertical-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-form__game {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
}

.little-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 23px;
}

.form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.booking-form__date-and-time {
    display: flex;
    gap:50px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.column input {
    height: 74px;
    min-width: 300px;
}

.booking-form__booking-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.booking-form__submit {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    background: #FFFFFF;
    border-radius: 10px;
    min-width: 300px;
    min-height: 60px;
    border: none;
    margin-bottom: 80px;
}

