
.inline {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 0;
    margin-right: 25px;
    white-space: pre-line;

}

.contacts__link {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 100px;
}

.contacts__social-link-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
}

.contacts__email {
    margin-bottom: 20px;
}

.contacts__address {
    margin-bottom: 40px;
}

