.guest-feedback__container {
    padding: 0 100px;
}

.guest-feedback__title {
    margin-bottom: 30px;
}

.guest-feedback__block {
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
}

.guest-feedback__text {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding-bottom: 100px;
}

figcaption {
    padding-left: 60px;
}

.guest-feedback__max {
    display: inline-block;
    vertical-align: middle;
}

.guest-feedback__oksana {
    display: inline-block;
    vertical-align: middle;
}

.guest-feedback__nikita {
    display: inline-block;
    vertical-align: middle;

}

.guest-feedback__block {
    position: relative;
}

.guest-feedback__photo:after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#C4C4C4,#6C0287);

}