.present__container {
    position: relative;
   /* background-image:url("../img/desktop/gameover.png");
    background-repeat: no-repeat;
    min-height: 1023px;
    background-position: bottom right;
    background-size: 800px;*/
    text-align: left;
    margin-bottom: 40px;
    min-height: 823px;
}

.present__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 150px;
    letter-spacing: -0.1em;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

.present__new-format {
    font-weight: 400;
    font-size: 28px;
    margin-left: 95px;
    margin-top: 0;
    margin-bottom: 30px;
}

.present__img {
    position: absolute;
    right:30px;
    top:70px;
    min-height: 762px;
}

.present {
    margin-bottom: 100px;
}

.present__btn {
    min-width: 374px;
    min-height: 80px;
    background-color: #6C0287;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    box-shadow: 0 0 10px 2px #6C0287;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.present__btn:hover,
.present__btn:focus {
    background-color: #840AA3;
    border-color: #640AA3;
    outline: none;
}

.present__btn:active {
    background-color: #640AA3;
    border-color: #640AA3;
}

.present__text {
    font-size:30px;
    Line-height: 34.5px;
    text-align: center;
    width: 166px;
}

.present__promo {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 150px;

}

.present__text_color-number {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: #CD06FF;
}

.present__text_color {
    font-weight: 900;
    font-size: 75px;
    line-height: 106px;
    color: #CD06FF;
    font-variant: small-caps;
}

.present__first-line,
.present__second-line {
    display: flex;
    flex-direction: column;
}

.present__next-page {
    position: absolute;
    left: 570px;
    bottom: 90px;
    content: " ";
    background-image: url("../icons/down .svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 97px;
    height: 97px;
    border: none;
    transition-property: all;
    transition-duration: 1s;
}

.present__next-page:hover {
    position: absolute;
    left: 570px;
    bottom: 90px;
    content: " ";
    background-image: url("../icons/down hover.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 97px;
    height: 97px;
    border: none;
}

.present__next-page:focus {
    position: absolute;
    left: 570px;
    bottom: 90px;
    content: " ";
    background-image: url("../icons/down .svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 97px;
    height: 97px;
    border: none;
    outline: 2px solid #CD06FF;
}

.present__next-page:active {
    position: absolute;
    left: 570px;
    bottom: 90px;
    content: " ";
    background-image: url("../icons/down-active.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 97px;
    height: 97px;
    border: none;
    outline:none;
}